spring:
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: qwen3-coder:30b
    mcp:
      server:
        protocol: STREAMABLE

server:
  port: 8080
